<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>سامانه حضور و غیاب موسسه اسراء</title>
    <link rel="stylesheet" href="{% static 'eaecontrol/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'eaecontrol/style.css' %}">
    <script src="{% static 'eaecontrol/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'eaecontrol/js.js' %}"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <a href="createReport/mountly">
                <button class="btn btn-primary">مشاهده گزارش ماهانه</button>
                <a href="createReport/person">
                    <button class="btn btn-info">مشاهده گزارش فردی</button>
                </a>
        </div>
        <div class="col-lg-6">

        </div>
        <div class="col-lg-2">
            تاریخ امروز : {{ date }}
        </div>
    </div>
    <hr style="color: black">
    <div>
        <table class="table table-bordered text-center"
               style="width: 90% ; margin-left: auto ; margin-right: auto ; margin-top: 50px">
            <thead class="text-center">
            <tr>
                <th class="text-center">
                    #
                </th>
                <th class="text-center">
                    کد
                </th>
                <th class="text-center">
                    نام و نام خانوادگی
                </th>
                <th class="text-center">
                    گروه کاربری
                </th>
                <th class="text-center" colspan="2">
                    عملیات
                </th>
                <th class="text-center">
                    وضعیت امروز
                </th>
            </tr>
            </thead>
            <tbody style="font-weight: 100">
            {% if users.count %}
                {% for user in users %}
                    <tr>
                        <td>
                            <p style="margin-top: 5px">
                                {{ forloop.counter }}
                            </p>
                        </td>
                        <td>
                            <p style="margin-top: 5px">
                                {{ user.id }}
                            </p>

                        </td>
                        <td>
                            <p style="margin-top: 5px">
                                {{ user.name }}
                            </p>
                        </td>
                        <td>
                            <p style="margin-top: 5px">
                                {{ user.group.name }}
                            </p>
                        </td>
                        <td>
                            <button data-in={{ user.isIn }} data-id="{{ user.id }}" class="btn btn-success enter-btn" style="width: 90%">
                                ورود
                            </button>
                        </td>
                        <td>

                            <button data-in={{ user.isIn }} data-id="{{ user.id }}" class="btn btn-warning exit-btn" style="width: 90%">
                                خروج
                            </button>

                        </td>
                        <td>
                            <div class="row">
                                {% if user.isIn %}
                                    <div class="col-lg-10 text-right" style="padding-top: 5px ; text-align: right">
                                        <label class="label label-success" style="font-size: 13px">
                                            حاضر - ورود :
                                            {{ user.lastStatusChangeTime }}
                                        </label>
                                    </div>
                                {% else %}
                                    <div class="col-lg-10 text-right" style="padding-top: 5px ; text-align: right">
                                        <label class="label label-danger" style="font-size: 13px">
                                            غایب - خروج :
                                            {{ user.lastStatusChangeTime }}
                                        </label>
                                    </div>
                                {% endif %}
                            </div>

                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <div style="position: absolute; left: 0; top: 0;font-size: 6px;">
        {{ver}}
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.exit-btn').unbind().on('click', function (e) {
            e.preventDefault()
            id = $(e.target).attr('data-id')
            isin = $(e.target).attr('data-in')
            console.log(isin)
            if(isin == 'False'){
            var alrt = confirm("کاربر غایب است ، از ثبت ×خروج× اطیمنان دارید ؟")
            console.log(alrt)
            if (alrt == false){
                return false
            }
            }
            $.post('sumbitExit/', {id}, function (response, status) {
                $('button').attr('disabled', true)
                if (status == 'success') {
                    alert("با موفقیت ثبت شد")
                    location.reload()
                }
                $('button').attr('disabled', false)
            })
        });
        $('.enter-btn').unbind().on('click', function (e) {
            e.preventDefault()
            id = $(e.target).attr('data-id')
            isin = $(e.target).attr('data-in')
            console.log(isin)
            if(isin == 'True'){
            var alrt = confirm("کاربر حاضر است ، از ثبت ×ورود× اطیمنان دارید ؟")
            console.log(alrt)
            if (alrt == false){
                return false
            }
            }
            $.post('sumbitEnter/', {id}, function (response, status) {
                if (status == 'success') {
                    alert("با موفقیت ثبت شد")
                    location.reload()

                }
            })
        });

    })
</script>
</body>
</html>